<div class="card-deck mb-3 text-center">
    

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">The  best dating  Site</h4>
      </div>
      <div class="card-body">
        <p>LOOADS of shitty explanation goes here. lipsem lorem sscsccs.  lipsem lorem sscsccs
         lipsem lorem sscsccs
        lipsem lorem sscsccs</p>
      </div>
    </div>


    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Sign Up</h4>
      </div>
      <div class="card-body">
        
      </div>
    </div>
    
  </div>